@model IndexModel

<div class="display-3 mb-3 pb-2 border-bottom">Form Field Tag Helpers</div>

<div class="display-6 mb-3">FormField</div>

<formField asp-for="FormFieldTestString1" asp-input-attribute-minlength="3" />
<formField asp-for="FormFieldTestString2" input-css="form-control additional-css-class" />
<formField asp-for="FormFieldTestBooleanTrue" renderer="@HtmlRenderer.BooleanRadio" />
<formField asp-for="FormFieldTestBooleanFalse" />
<formField asp-for="FormFieldTestBooleanNullable" />

<formField asp-for="FormFieldTestString3" label="Nullable Forced Required" force-required-astrix="true" />
<formField asp-for="FormFieldTestString4" label="Not Nullable Forced Not Required" force-required-astrix="false" />

<hr />

<div class="display-6 mb-3">FormSelect</div>


<formSelect asp-for="FormSelectIntID" asp-items="Model.FormSelectIntList" />
<formSelect asp-for="FormSelectMultipleIntID" asp-items="Model.FormSelectIntList" multiple />
<formSelect asp-for="FormSelectLongID" asp-items="Model.FormSelectLongList" input-css="form-select additional-css-class" />
<formSelect asp-for="FormSelectString" asp-items="Model.FormSelectStringList" />
<formSelect asp-for="FormSelectNullable" asp-items="Model.FormSelectIntList" />
<formSelect asp-for="FormSelectEnum" asp-items="Html.GetEnumSelectList<TestEnum>()" />
<formSelect asp-for="FormSelectNullableEnum" asp-items="Html.GetEnumSelectList<TestEnum>()" />

<hr />

<div class="display-6 mb-3">hrFormField</div>

<hrFormField asp-for="HrFormFieldTestString1" asp-input-attribute-minlength="3" />
<hrFormField asp-for="HrFormFieldTestString2" input-css="form-control additional-css-class" />
<hrFormField asp-for="HrFormFieldTestBooleanTrue" />
<hrFormField asp-for="HrFormFieldTestBooleanFalse" renderer="@HtmlRenderer.BooleanRadio" />
<hrFormField asp-for="HrFormFieldTestBooleanNullable" />

<hr />

<div class="display-6 mb-3">hrFormSelect</div>


<hrFormSelect asp-for="HrFormSelectIntID" asp-items="Model.FormSelectIntList" />
<hrFormSelect asp-for="HrFormSelectMultipleIntID" asp-items="Model.FormSelectIntList" multiple />
<hrFormSelect asp-for="HrFormSelectLongID" asp-items="Model.FormSelectLongList" input-css="form-select additional-css-class" />
<hrFormSelect asp-for="HrFormSelectString" asp-items="Model.FormSelectStringList" />
<hrFormSelect asp-for="HrFormSelectNullable" asp-items="Model.FormSelectIntList" />
<hrFormSelect asp-for="HrFormSelectEnum" asp-items="Html.GetEnumSelectList<TestEnum>()" />
<hrFormSelect asp-for="HrFormSelectNullableEnum" asp-items="Html.GetEnumSelectList<TestEnum>()" />
<hr />

<div class="display-6 mb-3">hrFormContainer</div>
<p>Allows adding an input element manually while still using the horizontal field layout</p>

<hrFormContainer asp-for="HrFormContainerString">
    <input asp-for="HrFormContainerString" class="form-control" />
</hrFormContainer>

<hrFormContainer asp-for="HrFormContainerSelect">
    <select asp-for="HrFormContainerSelect" class="form-select">
        <option value=""></option>
        <option value="value1">Value 1</option>
        <option value="value2">Value 2</option>
        <option value="value3">Value 3</option>
        <option value="value4">Value 4</option>
    </select>
</hrFormContainer>
<hr />

<div class="display-6 mb-3">hrFormSubmit</div>


<hrFormSubmit>
    <button type="button" class="btn btn-secondary">Cancel</button>

    <div class="form-check form-check-inline ms-2">
        <label class="form-check-label">
            <input type="checkbox" class="form-check-input" /> Test
        </label>
    </div>
</hrFormSubmit>

<div class="display-6 mb-3">HtmlRenderers</div>

<hrFormField asp-for="RendererTestBooleanTrue" />
<hrFormField asp-for="RendererTestBooleanFalse" renderer="@HtmlRenderer.BooleanRadio" />
<hrFormField asp-for="RendererTestBooleanNullable" />
<hrFormField asp-for="RendererTestBooleanNullableTrue" />
<hrFormField asp-for="RendererTestBooleanNullableFalse" />

<hrFormField asp-for="RendererTestBooleanTrue2" data-labels="True,False" />
<hrFormField asp-for="RendererTestBooleanFalse2" />
<hrFormField asp-for="RendererTestBooleanNullable2" data-labels="Affirmative,Negative,Unknown" />
<hrFormField asp-for="RendererTestBooleanNullableTrue2" />
<hrFormField asp-for="RendererTestBooleanNullableFalse2" />

<hrFormField asp-for="RendererTestDate1" label="Date and Time" />
<hrFormField asp-for="RendererTestDate2" renderer="@HtmlRenderer.Date" label="Date" />
<hrFormField asp-for="RendererTestDate3" renderer="@HtmlRenderer.Time" label="Time" />
<hrFormField asp-for="RendererTestFile" />
<hrFormField asp-for="RendererTestInt" />
<hrFormField asp-for="RendererTestLong" />
<hrFormField asp-for="RendererTestString1" />
<hrFormField asp-for="RendererTestString2" renderer="@HtmlRenderer.TextArea" />